$textGray:#b0a88a;
$darkBlue: #213977;
$orange: #f49714;
$skyBlue: #1d9cd8;
$green: #93c022;
$blue: #662382;
$grupoAzul: blue;
$grupoAmarillo: gold;
$grupoRojo: tomato;
$grupoVerde: #93c022;
$grupoBlanco: #eee;